<div *ngIf="!edit" style='display: flex;'>
    <div>{{mode}}</div>
    <div style="margin-left: auto">
        <button mat-button (click)="mode = 'Y';update();">Y</button>
        <button mat-button (click)="mode = 'M';update();">M</button>
        <button mat-button (click)="mode = 'W';update();">W</button>
    </div>
</div>
<div style='display: flex;'>
    <div *ngIf="currentValue">${{currentValue.toFixed(2)}} {{valueChange > 0 ? '+' : '' }}{{valueChange.toFixed(2)}}
    </div>
    <div *ngIf="percentChange" style="margin-left: auto">{{(percentChange * 100).toFixed(2)}}%</div>
</div>
<div>
    <app-category-summary [category]="portfolio" [quotes]="quotes" [stockHistory]="history" [edit]="edit" [mode]="mode">
    </app-category-summary>
    <button *ngIf="!edit" mat-button (click)="edit = !edit;">Edit</button>
    <button *ngIf="!edit" mat-button (click)="rebalance()">Rebalance</button>
    <button *ngIf="!edit" mat-button (click)="update()">Update</button>
    <button *ngIf="edit" mat-button (click)="edit = !edit;save();">Save</button>
    <button *ngIf="edit" mat-button (click)="edit = !edit;">Cancel</button>
</div>